<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"></html>
<head>
   <meta charset="UTF-8">
   <h1>Books</h1>
   <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
   <title>Booklist</title>
   <a href="/addbook" class="btn btn-success mb-3">Add New Book</a>
   <table class = "table table-striped">
      <thead>
          <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Publication Year</th>
              <th>ISBN</th>
              <th>Price</th>
          </tr>
      </thead>
      <tbody>
          <tr th:each="book : ${books}">
              <td th:text="${book.title}">Title</td>
              <td th:text="${book.author}">Author</td>
              <td th:text="${book.publicationYear}">Publication Year</td>
              <td th:text="${book.isbn}">ISBN</td>
              <td th:text="${book.price}">Price</td>
              <td>
               <a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-primary">Edit</a>
               <a th:href="@{/deletebook/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
              </td>
          </tr>
         </tbody>
      </table>
      <br><br>
</body>
</html>