<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Booklist</title>
   <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
   <h1>Books</h1>
   <a href="/addbook" class="btn btn-success mb-3">Add New Book</a>
   <table class="table table-striped">
      <thead>
          <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Publication Year</th>
              <th>ISBN</th>
              <th>Price</th>
              <th>Category</th>
          </tr>
      </thead>
      <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book != null ? book.title : 'No Title'}">Title</td>
            <td th:text="${book != null ? book.author : 'No Author'}">Author</td>
            <td th:text="${book != null ? book.publicationYear : 'No Publication Year'}">Publication Year</td>
            <td th:text="${book != null ? book.isbn : 'No ISBN'}">ISBN</td>
            <td th:text="${book != null ? book.price : 'No Price'}">Price</td>
            <td th:text="${book != null && book.category != null ? book.category.name : 'No Category'}">Category</td>
            <td>
                <a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/deletebook/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>        
          </tr>
      </tbody>
   </table>
   <br><br>
</body>
</html>
